<!--:tr-->
<body>
<h3>Zorunlu Lisans Dersleri</h3>

<div id="accordion">
    <h3><a href="#"><b>1. Yıl</b></a></h3>
    <div>
      <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL101">BIL101</a></td>
            <td>Bilgisayar Mühendisliğine Giriş </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL108">BIL108</a></td>
            <td>Elektrik Devr ve Elekt. </td>
            <td id='orta'>2 0 2</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL103">BIL103</a></td>
            <td>Programlamaya Giriş - I </td>
            <td id='orta'>2 0 2</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL104">BIL104</a></td>
            <td>Programlamaya Giriş - II </td>
            <td id='orta'>2 0 2</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#MAT107">MAT107</a></td>
            <td>Matematik-I </td>
            <td id='orta'>4 0 0</td>
            <td>4</td>
            <td></td>
            <td><a href="#MAT108">MAT108</a></td>
            <td>Matematik-2 </td>
            <td id='orta'>4 0 0</td>
            <td>4</td>
          </tr>
          <tr>
            <td><a href="#FİZ105">FİZ105</a></td>
            <td>Fizik-I </td>
            <td id='orta'>3 0 2</td>
            <td>4</td>
            <td></td>
            <td><a href="#FİZ106">FİZ106</a></td>
            <td>Fizik-2 </td>
            <td id='orta'>3 0 2</td>
            <td>4</td>
          </tr>
          <tr>
            <td><a href="#YDİ101">YDİ101</a></td>
            <td>İngilizce-1 </td>
            <td id='orta'>2 0 0</td>
            <td>2</td>
            <td></td>
            <td><a href="#YDİ102">YDİ102</a></td>
            <td>İngilizce-2 </td>
            <td id='orta'>2 0 0</td>
            <td>2</td>
          </tr>
          <tr>
            <td><a href="#BİL121">BIL121</a></td>
            <td>Ayrık Matematik </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL124">BIL124</a></td>
            <td>Olasılık ve İstatistiğe Giriş </td>
            <td id='orta'>3 2 2000</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3><a href="#"><b>2. Yıl</b></a></h3>
      <div>
      <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL203">BIL203</a></td>
            <td>Veri Yapıları </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL204">BIL204</a></td>
            <td>Algoritmalar </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL201">BIL201</a></td>
            <td>Sayısal Devreler ve Mantıksal Tas. </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL212">BIL212</a></td>
            <td>Sayısal Devreler ve Mantıksal Tas.Lab. </td>
            <td id='orta'>0 0 2</td>
            <td>1</td>
          </tr>
          <tr>
            <td><a href="#BİL221">BIL221</a></td>
            <td>Doğrusal Cebir </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL206">BIL206</a></td>
            <td>Nesneye Yön.Prog. </td>
            <td id='orta'>3 0 2</td>
            <td>4</td>
          </tr>
          <tr>
            <td><a href="#BİL223">BIL223</a></td>
            <td>Diferansiyel Denklemler </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL208">BIL208</a></td>
            <td>Sayısal Çözümleme </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#TDK201">TDK201</a></td>
            <td>Türk Dili-1 </td>
            <td id='orta'>2 0 0</td>
            <td>2</td>
            <td></td>
            <td><a href="#TDK202">TDK202</a></td>
            <td>Türk Dili-2 </td>
            <td id='orta'>2 0 0</td>
            <td>2</td>
          </tr>
          <tr>
            <td><a href="#"></a></td>
            <td>Teknik Seçmeli Ders 1 </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#"></a></td>
            <td>Teknik Seçmeli Ders 2 </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#"></a></td>
            <td>Teknik Olmayan Seç.Ders 1 </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#"></a></td>
            <td>Teknik Olmayan Seç.Ders 2 </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL227">BIL227</a></td>
            <td>Mesleki İng. 1 </td>
            <td id='orta'>2 0 0</td>
            <td>2</td>
            <td></td>
            <td><a href="#BİL228">BIL228</a></td>
            <td>Mesleki İng. 2 </td>
            <td id='orta'>2 0 0</td>
            <td>2</td>
          </tr>
            <tr>
            <td></td>
            <td></td>
            <td id='orta'></td>
            <td></td>
            <td></td>
            <td><a href="#BİL290">BIL290</a></td>
            <td>Staj 1 </td>
            <td id='orta'> </td>
            <td> </td>
          </tr>
        </tbody>
    </table>

        </div>
	<h3><a href="#"><b>3. Yıl</b></a></h3>
	<div>
	  <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL301">BIL301</a></td>
            <td>Sistem Programlama </td>
            <td id='orta'>3 0 2</td>
            <td>4</td>
            <td></td>
            <td><a href="#BİL302">BIL302</a></td>
            <td>İşletim Sistemleri </td>
            <td id='orta'>3 0 2</td>
            <td>4</td>
          </tr>
          <tr>
            <td><a href="#BİL305">BIL305</a></td>
            <td>Bilgisayar Mimarisi </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL306">BIL306</a></td>
            <td>Mikroişlemciler</td>
            <td id='orta'>3 0 2</td>
            <td>4</td>
          </tr>
          <tr>
            <td><a href="#BİL303">BIL303</a></td>
            <td>Veritabanı Yönetimi </td>
            <td id='orta'>3 0 2</td>
            <td>4</td>
            <td></td>
            <td><a href="#BİL308">BIL308</a></td>
            <td>Özdevinirler Kuramı</td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#TIT301">TIT301</a></td>
            <td>Atatürk İlk. ve İnk 1 </td>
            <td id='orta'>2 0 0</td>
            <td>2</td>
            <td></td>
            <td><a href="#TIT302">TIT302</a></td>
            <td>Atatürk İlk. ve İnk 2</td>
            <td id='orta'>2 0 0</td>
            <td>2</td>
          </tr>
          <tr>
            <td><a href="#"></a></td>
            <td>Teknik Seçmeli Ders 3</td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#"></a></td>
            <td>Teknik Seçmeli Ders 5</td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
          </tr>
          <tr>
            <td></td>
            <td>Teknik Seçmeli Ders 4</td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#"></a></td>
            <td>Teknik Seçmeli Ders 6 </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td id='orta'></td>
            <td></td>
            <td></td>
            <td><a href="#BİL390">BIL390</a></td>
            <td>Staj-II </td>
            <td id='orta'> </td>
            <td> </td>
          </tr>
        </tbody>
      </table>

	  </div>
	<h3><a href="#"><b>4. Yıl</b></a></h3>
  <div>
    <table>
      <tbody>
        <tr>
          <th><div align="left">Kod</div></th>
          <th><div align="left">Dersin Adı </div></th>
          <th><div align="left">T+U+L</div></th>
          <th><div align="left">Kredi</div></th>
          <td></td>
          <th><div align="left">Kod</div></th>
          <th><div align="left">Dersin Adı </div></th>
          <th><div align="left">T+U+L</div></th>
          <th><div align="left">Kredi</div></th>
        </tr>
        <tr>
          <td><a href="#BİL401">BIL401</a></td>
          <td>Bilg.Ağları </td>
          <td id='orta'>3 0 0</td>
          <td>3</td>
          <td></td>
          <td><a href="#BİL422">BIL422</a></td>
          <td>Proje-II </td>
          <td id='orta'>0 4 0</td>
          <td>2</td>
        </tr>
        <tr>
          <td><a href="#BİL421">BIL421</a></td>
          <td>Proje-I </td>
          <td id='orta'>0 4 0</td>
          <td>2</td>
          <td></td>
          <td><a href="#"></a></td>
          <td>Teknik Seçmeli Ders 9 </td>
          <td id='orta'>3 0 0</td>
          <td>3</td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td>Teknik Seçmeli Ders 7 </td>
          <td id='orta'>3 0 0</td>
          <td>3</td>
          <td></td>
          <td><a href="#"></a></td>
          <td>Teknik Seçmeli Ders 10 </td>
          <td id='orta'>3 0 0</td>
          <td>3</td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td>Teknik Seçmeli Ders 8</td>
          <td id='orta'>3 0 0</td>
          <td>3</td>
          <td></td>
          <td><a href="#"></a></td>
          <td>Teknik Seçmeli Ders 11</td>
          <td id='orta'>3 0 0</td>
          <td>3</td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td>Seçmeli Lab - 1</td>
          <td id='orta'>0 0 2</td>
          <td>1</td>
          <td></td>
          <td><a href="#"></a></td>
          <td>Seçmeli Lab - 2 </td>
          <td id='orta'>0 0 2</td>
          <td>1</td>
        </tr>
        <tr>
          <td><a href="#BİL419">BIL419</a></td>
          <td>Seminer </td>
          <td id='orta'>0 0 4</td>
          <td>2</td>
          <td></td>
          <td><a href="#"></a></td>
          <td>Seçmeli Lab - 3 </td>
          <td id='orta'>0 0 2</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>

<h3>Seçmeli Lisans Dersleri</h3>

<div id="accordion2">
	<h3><a href="#"><b>2. Yıl</b></a></h3>
	<div>
	  <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL231">bil231</a></td>
            <td>Java-I</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL232">bil232</a></td>
            <td>Java-I</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL233">bil233</a></td>
            <td>İleri Programlama</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL334">bil334</a></td>
            <td>Paralel İşlem Mimarileri</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#VİL237">bil237</a></td>
            <td>Finansta Bilişim Teknolojileri</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL236">bil236</a></td>
            <td>Çizge Kuramı</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr> 
          <tr>
            <td></td>
            <td></td>
            <td id='orta'>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
            <td><a href="#BİL238">bil238</a></td>
            <td>Temel Bankacılık Kavramları, Bankacılık Sektörü ve Piyasalar</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>

  </div>

	<h3><a href="#"><b>3. Yıl</b></a></h3>
	<div>
	  <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL357">bil357</a></td>
            <td>Sayısal Denetim-I </td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL358">bil358</a></td>
            <td>Sayısal Denetim-II </td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL335">bil335</a></td>
            <td>Web Teknolojileri</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL336">bil336</a></td>
            <td>Web Programlama </td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL355">bil355</a></td>
            <td>Mobil Programlama</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL372">bil372</a></td>
            <td>Sinyaller ve Sistemler</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr> 
          <tr>
            <td><a href="#BİL351">bil351</a></td>
            <td>Karmaşık İşlevler ve Dönüşümler</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL336">bil336</a></td>
            <td>Mobil Programlama Lab.</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL337">bil337</a></td>
            <td>Sayılar Teorisi ve Uygulamaları</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL334">bil334</a></td>
            <td>İleri SQL</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL353">bil353</a></td>
            <td>Yöneylem Araştırması</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL332">bil332</a></td>
            <td>Unix Sistem Yönetimi</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td id='orta5'></td>
            <td></td>
            <td></td>
            <td><a href="#BİL374">bil374</a></td>
            <td>Gömülü Sistemlere Giriş</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td id='orta4'></td>
            <td></td>
            <td></td>
            <td><a href="#BİL354">bil354</a></td>
            <td>Veri İletişimi</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td id='orta2'></td>
            <td></td>
            <td></td>
            <td><a href="#BİL338">bil338</a></td>
            <td>Bilgisayar Aritmetiği</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td id='orta'></td>
            <td></td>
            <td></td>
            <td><a href="#BİL352">bil352</a></td>
            <td>Bilimsel Hesaplama</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>

  </div>
	<h3><a href="#"><b>4. Yıl</b></a></h3>
	<div>
	  <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL433">bil433</a></td>
            <td>Bilgisayar Grafiği</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL492">bil492</a></td>
            <td>Bitirme Projesi</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL425">bil425</a></td>
            <td>Algoritma Analizi</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL446">bil446</a></td>
            <td>Yapay Sinir Ağları</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL445">bil445</a></td>
            <td>Bulanık Mantık</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL406">bil406</a></td>
            <td>Bilgisayarlı Görüye Giriş</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL427">bil427</a></td>
            <td>Derleyici Tasarımı</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL458">bil458</a></td>
            <td>Mühendislik Ekonomisi</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL429">bil429</a></td>
            <td>Makine Öğrenimine Giriş</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL432">bil432</a></td>
            <td>Güvenli Programlama</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL441">bil441</a></td>
            <td>Yapay Zeka</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL424">bil424</a></td>
            <td>Coğrafi Bilgi Sistemleri</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL451">bil451</a></td>
            <td>Bilgisayar Ağlarında Özel Konular</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL408">bil408</a></td>
            <td>Yazılım Test Süreçleri</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL431">bil431</a></td>
            <td>Bilgi Güvenliği</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL428">bil428</a></td>
            <td>Proje Yönetimi</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL403">bil403</a></td>
            <td>Yazılım Mühendisliği</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL442">bil442</a></td>
            <td>Prolog</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL447">bil447</a></td>
            <td>Oyun Programlama</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL436">bil436</a></td>
            <td>Bilgi Teorisi</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL405">bil405</a></td>
            <td>Görüntü İşleme</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL448">bil448</a></td>
            <td>Alan Programlanabilir Kapı Dizileri</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL453">bil453</a></td>
            <td>Bilgisayar Müh. Özel Konular – I</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL452">bil452</a></td>
            <td>Kritik Altyapılar ve Güvenliği</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL435">bil435</a></td>
            <td>Hesapedilebilirlik Kuramı</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL454">bil454</a></td>
            <td>Bilgisayar Müh. Özel Konular-II</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL449">bil449</a></td>
            <td>Mobil Ağlar</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL438">bil438</a></td>
            <td>Kodlama Teorisi</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL457">bil457</a></td>
            <td>Finansal Matematik</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL462">bil462</a></td>
            <td>Adli Bilişim</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL437">bil437</a></td>
            <td>Kombinatorik</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL426">bil426</a></td>
            <td>Programlamada Özel Konular</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL439">bil439</a></td>
            <td>Kriptografiye Giriş</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL444">bil444</a></td>
            <td>Sayısal İşaret İşleme</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL423">bil423</a></td>
            <td>Programlama Dilleri</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL456">bil456</a></td>
            <td>Tıbbi Bilişime Giriş</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL443">bil443</a></td>
            <td>Robotik</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td id='orta'>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="21"><a href="#BİL455">bil455</a></td>
            <td>İnsan Bilgisayar Arayüzü</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td id='orta3'>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><a href="#BİL473">bil473</a></td>
            <td>Veri Tabanı Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL412">bil412</a></td>
            <td>Bilgisayar Ağları Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL413">bil413</a></td>
            <td>Yazılım Mühendisliği Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL472">bil472</a></td>
            <td>Web Programlama Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL411">bil411</a></td>
            <td>Bilgisayar Ağları Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL418">bil418</a></td>
            <td>Yazılım Test Süreçleri Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL415">bil415</a></td>
            <td>Görüntü İşleme Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL434">bil434</a></td>
            <td>Coğrafi Bilgi Sistemleri Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL475">bil475</a></td>
            <td>Web Programlama Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL416">bil416</a></td>
            <td>Bilgisayarlı Görü Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td id='orta11'>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
            <td><a href="#BİL474">bil474</a></td>
            <td>Veri Tabanı Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td height="21">&nbsp;</td>
            <td>&nbsp;</td>
            <td id='orta'>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
            <td><a href="#BİL414">bil414</a></td>
            <td>Yazılım Mühendisliği Lab.</td>
            <td id='orta11'>0 2 1</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>


	  </div>
</div>

<div><a href="http://ce.omu.edu.tr/a/wp-content/uploads/2011/03/ceng_mufredat-müfredat-2013-TR.pdf"> PDF Olarak İndirmek İçin Tıklayın</a></div>

</body>
<!--:-->

<!--:en-->
<body>
<h3>Compulsory Undergraduate Courses</h3>

<div id="accordion">  
      <h3><a href="#"><b>1. Yıl</b></a></h3>
      <div>
        <table>
          <tbody>
            <tr>
              <th><div align="left">Kod</div></th>
              <th><div align="left">Dersin Adı </div></th>
              <th><div align="left">T+U+L</div></th>
              <th><div align="left">Kredi</div></th>
              <td></td>
              <th><div align="left">Kod</div></th>
              <th><div align="left">Dersin Adı </div></th>
              <th><div align="left">T+U+L</div></th>
              <th><div align="left">Kredi</div></th>
            </tr>
            <tr>
              <td><a href="#BİL101">bil101</a></td>
              <td>Indtruduction to Computer Engineering</td>
              <td id='orta'>3 0 3</td>
              <td>4</td>
              <td></td>
              <td><a href="#BİL108">bil108</a></td>
              <td>Electronic Circuits and Electronics</td>
              <td id='orta'>2 2 3</td>
              <td>5</td>
            </tr>
            <tr>
              <td><a href="#BİL103">bil103</a></td>
              <td>Indtruduction to Programming-I</td>
              <td id='orta'>2 2 3</td>
              <td>5</td>
              <td></td>
              <td><a href="#BİL104">bil104</a></td>
              <td>Indtruduction to Programming-II </td>
              <td id='orta'>2 2 3</td>
              <td>5</td>
            </tr>
            <tr>
              <td><a href="#MAT107">mat107</a></td>
              <td>Mathematics-I </td>
              <td id='orta'>4 0 4</td>
              <td>6</td>
              <td></td>
              <td><a href="#MAT108">mat108</a></td>
              <td>Mathematics-II </td>
              <td id='orta'>4 0 4</td>
              <td>6</td>
            </tr>
            <tr>
              <td><a href="#FİZ105">fiz105</a></td>
              <td>Physics-I </td>
              <td id='orta'>3 2 4</td>
              <td>6</td>
              <td></td>
              <td><a href="#FİZ106">fiz106</a></td>
              <td>Physics-II </td>
              <td id='orta'>3 2 4</td>
              <td>6</td>
            </tr>
            <tr>
              <td><a href="#YDB101">ydb101</a></td>
              <td>English-I </td>
              <td id='orta'>2 0 2</td>
              <td>3</td>
              <td></td>
              <td><a href="#YDB102">ydb102</a></td>
              <td>English-II </td>
              <td id='orta'>2 0 2</td>
              <td>3</td>
            </tr>
            <tr>
              <td><a href="#BİL121">bil121</a></td>
              <td>Discrete Mathematics </td>
              <td id='orta'>3 0 3</td>
              <td>6</td>
              <td></td>
              <td><a href="#BİL124">bil124</a></td>
              <td><p>Introduction To Probability And Statistics</p></td>
              <td id='orta'>3 2 4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td id='orta'>&nbsp;</td>
              <td>&nbsp;</td>
              <td></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td id='orta'>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td id='orta'>&nbsp;</td>
              <td>&nbsp;</td>
              <td></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td id='orta'>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
	</div>
	<h3><a href="#"><b>2. Yıl</b></a></h3>
	<div>
	  <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL103">bil203</a></td>
            <td>Data Structures </td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL204">bil204</a></td>
            <td>Algorithms</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL201">bil201</a></td>
            <td><p>Digital Design And Logical Circuits</p></td>
            <td id='orta'>3 0 3</td>
            <td>4</td>
            <td></td>
            <td><a href="#BİL212">bil212</a></td>
            <td><p>Digital Design And Logical Circuits Lab.</p></td>
            <td id='orta'>0 2 1</td>
            <td>2</td>
          </tr>
          <tr>
            <td><a href="#BİL221">bil221</a></td>
            <td>Linear Algebra </td>
            <td id='orta'>3 0 3</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL206">bil206</a></td>
            <td><p>Object Oriented Programming </p></td>
            <td id='orta'>3 2 4</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL241">bil241</a></td>
            <td>Differential Equation </td>
            <td id='orta'>3 0 0</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL208">bil208</a></td>
            <td>Numarical Analysis</td>
            <td id='orta'>3 0 3</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#TDK201">TDK201</a></td>
            <td>Turkish Language-I</td>
            <td id='orta'>2 0 2</td>
            <td>2</td>
            <td></td>
            <td><a href="#TDK202">TDK202</a></td>
            <td>Turkish Language-II</td>
            <td id='orta'>2 0 2</td>
            <td>2</td>
          </tr>
          <tr>
            <td><a href="#BİL227">bil227</a></td>
            <td>Profesional English-I </td>
            <td id='orta'>2 0 2</td>
            <td>2</td>
            <td></td>
            <td><a href="#BİL228">bil228</a></td>
            <td>Profesional English-II </td>
            <td id='orta'>2 0 2</td>
            <td>2</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>Technical  Elective Course-I</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td>&nbsp;</td>
            <td>Technical  Elective Course-II</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>Non-Technical  Elective Course-I</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td>&nbsp;</td>
            <td>Non-Technical  Elective Course-II</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
           <tr>
             <td>&nbsp;</td>
             <td>&nbsp;</td>
             <td id='orta'>&nbsp;</td>
             <td>&nbsp;</td>
            <td></td>
            <td><a href="#BİL290">bil290</a></td>
            <td>Summer Practice-I</td>
            <td id='orta'> </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
	  </div>
	<h3><a href="#"><b>3. Yıl</b></a></h3>
	<div>
	  <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL301">bil301</a></td>
            <td>Systems Programming </td>
            <td id='orta'>3 2 4</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL302">bil302</a></td>
            <td>Operating Systems </td>
            <td id='orta'>3 2 4</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL305">bil305</a></td>
            <td>Computer Architecture </td>
            <td id='orta'>0 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL306">bil306</a></td>
            <td>Microprocessors</td>
            <td id='orta'>3 2 4</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL303">bil303</a></td>
            <td>Database Management </td>
            <td id='orta'>3 2 4</td>
            <td>7</td>
            <td></td>
            <td><a href="#BİL308">bil308</a></td>
            <td>Automata Theory</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#TIT301">tit301</a></td>
            <td>Principles  Of Ataturk And History Of Revolution-I</td>
            <td id='orta'>2 0 2</td>
            <td>2</td>
            <td></td>
            <td><a href="#TIT301">tit301</a></td>
            <td>Principles  Of Ataturk And History Of Revolution-I</td>
            <td id='orta'>2 0 2</td>
            <td>2</td>
          </tr>
          <tr>
            <td><a href=""></a></td>
            <td>Technical  Elective Course-III</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href=""></a></td>
            <td>Technical  Elective Course-V</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td></td>
            <td>Technical  Elective Course-IV</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td>Technical  Elective Course-VI</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td></td>
            <td>&nbsp;</td>
            <td id='orta'>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
            <td><a href="#BİL390">bil390</a></td>
            <td>Summer Practice-II</td>
            <td id='orta'></td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
	  </div>
	<h3><a href="#"><b>4. Yıl</b></a></h3>
  <div>
    <table>
      <tbody>
        <tr>
          <th><div align="left">Kod</div></th>
          <th><div align="left">Dersin Adı </div></th>
          <th><div align="left">T+U+L</div></th>
          <th><div align="left">Kredi</div></th>
          <td></td>
          <th><div align="left">Kod</div></th>
          <th><div align="left">Dersin Adı </div></th>
          <th><div align="left">T+U+L</div></th>
          <th><div align="left">Kredi</div></th>
        </tr>
        <tr>
          <td><a href="#BİL401">bil401</a></td>
          <td>Computer Networks</td>
          <td id='orta'>3 3 3</td>
          <td>5</td>
          <td></td>
          <td><a href="#BİL422">bil422</a></td>
          <td>Project-II</td>
          <td id='orta'>0 4 2</td>
          <td>6</td>
        </tr>
        <tr>
          <td><a href="#BİL421">bil421</a></td>
          <td>Project-I</td>
          <td id='orta'>0 4 2</td>
          <td>6</td>
          <td></td>
          <td>&nbsp;</td>
          <td>Technical  Elective Course-IX</td>
          <td id='orta'>3 0 3</td>
          <td>6</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>Technical  Elective Course-VII</td>
          <td id='orta'>3 0 3</td>
          <td>6</td>
          <td></td>
          <td>&nbsp;</td>
          <td>Technical  Elective Course-X</td>
          <td id='orta'>3 0 3</td>
          <td>6</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>Technical  Elective Course-VIII</td>
          <td id='orta'>3 0 3</td>
          <td>6</td>
          <td></td>
          <td><a href=""></a></td>
          <td>Technical Elective Course-XI</td>
          <td id='orta'>3 0 0</td>
          <td>3</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>Technical  Elective Lab-I</td>
          <td id='orta'>3 0 3</td>
          <td>6</td>
          <td></td>
          <td>&nbsp;</td>
          <td>Technical  Elective Lab-II</td>
          <td id='orta'>3 0 3</td>
          <td>6</td>
        </tr>
        <tr>
          <td><a href="#BİL419">bil419</a></td>
          <td>Seminar</td>
          <td id='orta'>0 4 2</td>
          <td>4</td>
          <td></td>
          <td>&nbsp;</td>
          <td>Technical  Elective Lab-III</td>
          <td id='orta'>3 0 3</td>
          <td>6</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td id='orta'>&nbsp;</td>
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
          <td id='orta'></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>Elective Undergraduate Courses</h3>

<div id="accordion2">
	<h3><a href="#"><b>2. Yıl</b></a></h3>
	<div>
	  <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL231">bil231</a></td>
            <td>JAVA PROGRAMMING-I</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL232">bil232</a></td>
            <td>JAVA PROGRAMMING – 2</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL233">bil233</a></td>
            <td>ADVANCED PROGRAMMING</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL234">bil234</a></td>
            <td>PARALLEL PROCESS ARCHITECTURES</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL237">bil237</a></td>
            <td>INFORMATION TECHNOLOGY IN ECONOMY</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL236">bil236</a></td>
            <td>GRAPH THEORY</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr> 
          <tr>
            <td></td>
            <td></td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL238">bil238</a></td>
            <td>BASIC BANKING CONCEPTS, BANKING INDUSTRY AND<br>
            MARKETS</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
  </div>
	<h3><a href="#"><b>3. Yıl</b></a></h3>
	<div>
	  <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL357">bil357</a></td>
            <td>DIGITAL CONTROL-I</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL358">bil358</a></td>
            <td>DIGITAL CONTROL-I</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL335">bil335</a></td>
            <td>WEB TECHNOLOGIES</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL336">bil336</a></td>
            <td>WEB PROGRAMMING</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL355">bil355</a></td>
            <td>MOBILE PROGRAMMING</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL372">bil372</a></td>
            <td>SIGNALS AND SYSTEMS</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr> 
          <tr>
            <td><a href="#BİL351">bil351</a></td>
            <td>COMPLEX FUNCTIONS AND TRANSFORMATION<br>
            TECHNIQUES</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL366">bil366</a></td>
            <td>MOBILE PROGRAMMING LAB.</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL337">bil337</a></td>
            <td>NUMBER THEORY AND APPLICATONS</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL334">bil334</a></td>
            <td>ADVANCED SQL</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#BİL353">bil353</a></td>
            <td>OPERATIONS RESEARCH</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
            <td></td>
            <td><a href="#BİL332">bil332</a></td>
            <td>UNIX SYSTEM ADMINISTRATION</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td id='orta'>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
            <td><a href="#BİL374">bil374</a></td>
            <td>INTRODUCTION TO EMBEDDED SYSTEMS</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td id='orta'>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
            <td><a href="#BİL354">bil354</a></td>
            <td>DATA COMMUNICATION</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td id='orta'>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
            <td><a href="#BİL338">bil338</a></td>
            <td>COMPUTER ARITHMETIC</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td id='orta'>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
            <td><a href="#BİL352">bil352</a></td>
            <td>SCIENTIFIC COMPUTING</td>
            <td id='orta'>3 0 3</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
  </div>
	<h3><a href="#"><b>4. Yıl</b></a></h3>
	<div>
	  <table>
        <tbody>
          <tr>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
            <td></td>
            <th><div align="left">Kod</div></th>
            <th><div align="left">Dersin Adı </div></th>
            <th><div align="left">T+U+L</div></th>
            <th><div align="left">Kredi</div></th>
          </tr>
          <tr>
            <td><a href="#BİL433">bil433</a></td>
            <td>COMPUTER GRAPHICS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL492">bil492</a></td>
            <td>SENIOR DESİGN PROJECT</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL425">bil425</a></td>
            <td>ANALYSIS OF ALGORITHMS </td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL446">bil446</a></td>
            <td>ARTIFICIAL NEURAL NETWORKS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL445">bil445</a></td>
            <td>FUZZY LOGIC</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL406">bil406</a></td>
            <td>INTRODUCTION TO COMPUTER VISION</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL427">bil427</a></td>
            <td>COMPILER DESIGN</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL458">bil458</a></td>
            <td>ENGINEERING ECONOMICS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL429">bil429</a></td>
            <td>INTRODUCTION TO MACHINE LEARNING</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL432">bil432</a></td>
            <td>SECURE PROGRAMMING</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL441">bil441</a></td>
            <td>ARTIFICIAL INTELLIGENCE</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL424">bil424</a></td>
            <td>GEOGRAPHIC INFORMATION SYSTEMS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL456">bil456</a></td>
            <td>CUSTOM TOPICS IN COMPUTER NETWORKS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL408">bil408</a></td>
            <td>SOFTWARE TEST PROCESSES</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL431">bil431</a></td>
            <td>INFORMATION SECURITY</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL428">bil428</a></td>
            <td>PROJECT MANAGEMENT</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL403">bil403</a></td>
            <td>SOFTWARE ENGINEERING</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL442">bil442</a></td>
            <td>PROLOG</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL447">bil447</a></td>
            <td>GAME PROGRAMMING</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL436">bil436</a></td>
            <td>INFORMATION THEORY</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL405">bil405</a></td>
            <td>DIGITAL IMAGE PROCESSING</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL448">bil448</a></td>
            <td>FIELD PROGRAMMABLE GATE ARRAYS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL453">bil453</a></td>
            <td>SPECIAL TOPICS IN COMPUTER ENGINEERING-I</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL452">bil452</a></td>
            <td>CRITIC INFRASTRUCTURE AND SECURITY</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL435">bil435</a></td>
            <td>COMPUTABILITY THEORY</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL454">bil454</a></td>
            <td>SPECIAL TOPICS IN COMPUTER ENGINEERING-II</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL449">bil449</a></td>
            <td>MOBILE NETWORKS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL438">bil438</a></td>
            <td>CODING THEORY</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL457">bil457</a></td>
            <td>FINANCAL MATHEMATICS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL462">bil462</a></td>
            <td>FORENSIC INFORMATICS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
          </tr>
          <tr>
            <td><a href="#BİL437">bil437</a></td>
            <td>COMBINATORICS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL426">bil426</a></td>
            <td>SPECIAL TOPICS IN PROGRAMMING</td>
            <td id='orta10'>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><a href="#BİL439">bil439</a></td>
            <td>INTRODUCTION TO CRYPTOGRAPHY</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL444">bil444</a></td>
            <td>DIGITAL SIGNAL PROCESSING</td>
            <td id='orta9'>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><a href="#BİL423">bil423</a></td>
            <td>PROGRAMMING LANGUAGES</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td><a href="#BİL456">bil456</a></td>
            <td>INTRODUCTION TO MEDICAL INFORMATICS</td>
            <td id='orta8'>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><a href="#BİL433">bil443</a></td>
            <td>ROBOTICS</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td id='orta7'>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><a href="#BİL455">bil455</a></td>
            <td>HUMAN - COMPUTER INTERFACE</td>
            <td id='orta'>3 0 3</td>
            <td>6</td>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td id='orta6'>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><a href="#BİL473">bil473</a></td>
            <td>DATABASE MANAGEMENT SYSTEMS LAB. - 1</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL412">bil412</a></td>
            <td>COMPUTER NETWORKS LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL413">bil413</a></td>
            <td>SOFTWARE ENGINEERING LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL476">bil476</a></td>
            <td>WEB PROGRAMMING LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL411">bil411</a></td>
            <td>COMPUTER NETWORKS LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL418">bil418</a></td>
            <td>SOFTWARE TEST PROCESSES LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL415">bil415</a></td>
            <td>DIGITAL IMAGE PROCESSING LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL434">bil434</a></td>
            <td>GEOGRAPHIC INFORMATION SYSTEMS LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#BİL475">bil475</a></td>
            <td>WEB PROGRAMMING LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL416">bil416</a></td>
            <td>COMPUTER VISION LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL474">bil474</a></td>
            <td>DATABASE MANAGEMENT SYSTEMS LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
            <td></td>
            <td><a href="#BİL414">bil414</a></td>
            <td>SOFTWARE ENGINEERING LAB.</td>
            <td id='orta5'>0 2 1</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div><a href="http://ce.omu.edu.tr/a/wp-content/uploads/2011/03/ceng_mufredat-müfredat-2013-ENG.pdf">Click Here to Save As PDF</a></div>
</body>
<!--:-->
